.slider {
    position: relative;

    .wrap {
        margin: 0 auto;
        padding: 0;
        width: 600px;
    }

    .swipe {
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 350px;
        border-radius: 10px;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
    
    .swipe ul {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    .swipe li div,
    .swipe div div div {
        padding: 50px 10px;
        background: #1db1ff;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        text-align: center;
    }

    .swipe li img {
        width: 100%;
    }

    .swipe li {
        margin: 0;
        padding: 0;
    }

    #slider2 li {
        width: 230px;
    }

    #slider4 ul {
        transition: left 800ms ease-in 0;
    }

    #pagenavi a {
        display: inline-block;
        width: 80px;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
        margin-right: 5px;
        height: 60px;
        background-color: yellow;
        border-radius: 8px;
        color: white;
        padding: 8px;
        font-weight: 500;
    }

    #pagenavi a.active {
        color: orangered;
    }

    .btn {
        top: 150px;
        position: absolute;
        display: inline-block;
        padding: 5px 10px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        background-color: #ffffff;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        border-radius: 100%;
        box-shadow: 0 0.155rem 0.65rem rgba(0, 0, 0, 0.075) !important;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        ion-icon {
            position: relative;
            top: 3px;
        }
    }

    .btn-previous {
        left: -8px;
    }

    .btn-next {
        right: -8px;
    }
}
